* {
  border: 1px solid red;
}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.a {
  width: 100vw;
  height: 30vh;
}

.main {
  display: flex;
  width: 60vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.b,
.c,
.d,
.e,
.f,
.g {
  align-self: flex-start;

  width: 15vw;
  height: 30vh;
}

.h {
  width: 30vw;
  height: 60vh;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .main {
    width: 100%;
    flex-wrap: wrap;
  }

  .b,
  .c,
  .d,
  .e,
  .f,
  .g {
    width: 30%;
  }

  .h {
    width: 100%;
  }
}
