* {
  border: 1px solid red;
}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.a {
  width: 100vw;
  height: 30vh;
}

.main {
  display: flex;
  width: 60vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.b {
  width: 60vw;
  height: 30vh;
}

.c,
.d,
.e {
  align-self: flex-start;

  width: 15vw;
  height: 30vh;
}

.f {
  width: 30vw;
  height: 60vh;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .main {
    width: 100%;
  }

  .b {
    width: 100%;
  }

  .c,
  .d,
  .e {
    flex: 3;
  }

  .f {
    width: 100%;
  }
}
